<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1FA2BF1F2C6E6DE3004CFA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FBB08CB2C6E03AB003FAF7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FC632E92C087D0C00FAC799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE164BC2C5A4CF200A93FD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
